@mixin text-56px {
  font-size: 56px;
  line-height: 70px;
}
@mixin text-42px {
  font-size: 42px;
  line-height: 57px;
}
@mixin text-35px {
  font-size: 35px;
  line-height: 44px;
}
@mixin text-32px {
  font-size: 32px;
  line-height: 43px;
}
@mixin text-24px {
  font-size: 24px;
  line-height: 36px;
}
@mixin text-22px {
  font-size: 22px;
  line-height: 30px;
}
@mixin text-20px {
  font-size: 20px;
  line-height: 28px;
}
@mixin text-18px {
  font-size: 18px;
  line-height: 26px;
}
@mixin text-15px {
  font-size: 15px;
  line-height: 22px;
}
@mixin text-13px {
  font-size: 13px;
  line-height: 22px;
}
@mixin text-12px {
  font-size: 12px;
}
@mixin text-11px {
  font-size: 11px;
  line-height: 16px;
}