// --------------------------------------------------
// Type
$font-family-base: var(--font-stack-body);

$headings-font-family: var(--font-stack-header);

// --------------------------------------------------
// Colors

$primary: #004B83;
$secondary: #1675BB;
$body-color: #306D9A;
$info: #00BAF2;
$light: #fff;
$dark: #606060;
// --------------------------------------------------
// Links
$link-color: $secondary;
$link-hover-color: $primary;
$link-hover-decoration: none;

// --------------------------------------------------
// Buttons

// --------------------------------------------------
// Forms
